* {
  font-family: merriweather ;
}

main {
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

aside {
  background-color: rgba(0, 0, 0, .9);
  color: white;
}

.img {
  color: white ;
  position: relative;
  background-image: url(/assets/images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
.bg-overlay {
  position: absolute;
  
 background-color: rgba(50, 50, 50, .5);
 height: 100%;
 width: 100%;
 left: 0;
 top: 0;
 z-index: -1;
}
strong {
  color:#ef9d10 ;
  font-size: 17px;
  margin-left: ;
}
h6 {
  font-size:3px ;
}
btn-warning">Warning</button>